@import "~react-toolbox/lib/commons";

$color-divider: $palette-grey-200;
$color-background: $color-white;
$color-text: $palette-grey-900;
$color-text-secondary: $palette-grey-600;

$color-primary: $palette-brown-600;
$color-primary-dark: $palette-lime-500;
$color-accent: $palette-brown-300;
$color-accent-dark: $palette-lime-500;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

// drop down colors
$dropdown-value-hover-background: $palette-brown-100;